# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv
*.egg-info
.coverage
.pytest_cache

# Logs and Databases
*.log
*.db
*.sqlite
instance/

# Testing
/tests/__pycache__/
.tox/
htmlcov/

# Distribution / Packaging
build/
dist/
sdist/
*.whl
MANIFEST

# Static files (if you have a separate build process)
# static/build/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# OS Specific files
Thumbs.db

# Other temporary files
*.tmp
*.bak
*.orig

# Docker (if you are using Docker)
# .dockerignore

# Environment variables files
.env